<div id="<%= dom_id recipe %>">
<div>
  <h2 class="page-title"><%= recipe.name %></h2>
</div>

<div class="recipe-detail-grid">
  <p class="recipe-details-p">
    <strong>Preparation time:</strong>
    <%= recipe.preparation_time %>
  </p>

  <p class="recipe-details-p">
    <strong>Cooking time:</strong>
    <%= recipe.cooking_time %>
  </p>

  <p class="recipe-details-p">
    <strong>Description:</strong>
    <%= recipe.description %>
  </p>

  <p class="recipe-details-p">
    <strong>Public:</strong>
    <%= recipe.public %>
  </p>
  </div>
</div>
