<%= stylesheet_link_tag "recipes", "data-turbo-track": "reload" %>
<p style="color: green"><%= notice %></p>
<h1>Recipes</h1>
<div id="recipes">
  <% @recipes.each do |recipe| %>
    <div class="name_delete_container">
      <div>
        <h2><%= link_to recipe.name, recipe %></h2>
        <br>
        <% if can? :destroy, recipe %>
          <%= button_to "Destroy this recipe", recipe_path(id: recipe.id), method: :delete %>
        <% end %>
      </div>
      <div>
        <p class="description"><%= recipe.description %></p>
      </div>
    </div>
  <% end %>
</div>
<%= link_to "Add recipe", new_recipe_path %>
