<div class="page-container">
  <div class="recipe-details">
    <%= render @recipe %>
    <div class="details-buttons">
      <a class="create-button" href="/shopping_list/<%= @recipe.id %>">Generate Shopping List</a>
      <% if can? :destroy, @recipe %>
        <a class="create-button" href="/recipe_foods/<%= @recipe.id %>">Add Ingredient</a>
      <% end %>
    </div>
    <hr>
  </div>
  <%= render 'recipe_ingredients' %>
  <div id="back-recipes">
    <%= link_to "Back to recipes", recipes_path, class: "create-button" %>
    <% if can? :destroy, @recipe %>
      <%= link_to "Create new recipe", new_recipe_path, class: "create-button" %>
    <% end %>
  </div>
</div>
