<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "User foods", user_foods_path(user_id: @user) %>
  <%= link_to "Back to users", users_path %>
  <%= button_to "Cancel this account", @user, method: :delete %>
</div>
