<p style="color: green"><%= notice %></p>

<h1>Foods</h1>

<div id="foods">
  <% @foods.each do |food| %>
    <%= render food %>
    <%= link_to "See this food", user_food_path(id: food.id), method: :delete%>
  <% end %>
</div>

<%= link_to "New food", new_user_food_path %>
<%= link_to "Back to users", users_path %>
