<% if user_signed_in? %>
  <div>
    <%= link_to 'Add food', new_food_path %>
  </div>
<% end %>

<p style="color: green"><%= notice %></p>

<h1>Foods</h1>

<table>
  <thead>
    <tr>
    <th>Food</th>
    <th>Measurement Unit</th>
    <th>Unit Price</th>
    <% if user_signed_in? %>
      <th>Actions</th>
    <% end %>
    </tr>
  </thead>
  <tbody>
    <% if @foods.empty? %>
      <tr>
        <td>No foods yet</td>
      </tr>
    <% else %>
      <% @foods.each do |food| %>
        <tr>
          <td><%= food.name %></td>
          <td><%= food.measurement_unit %></td>
          <td><%= food.price.to_f.round(2) %></td>
          <% if user_signed_in? %>
          <td>
            <%= button_to "Delete", food, method: :delete %>
          </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>